<div>
    <h2>Publications</h2>
    <table id="tbPublications" width="100%">
        {%- for paper in publications %}
        <tr>
            <td width="306">
                <img src="{{ paper.teaser_url }}" width="285px" style="box-shadow: 4px 4px 8px #888">
            </td>
            <td>
                <p style="color: #080808; font-size: 20px; font-style: normal; margin-bottom: 0;">{{ paper.title }}</p>
                <p style="font-size: 14px; margin-top: 0; margin-bottom: 1;"><em>{{ paper.conference }}</em>{% if paper.conference_abbr %} (<i><b>{{ paper.conference_abbr }}</b></i>){% endif %},{% if paper.oral %}<i><b>{{ paper.oral }},</b></i>{% endif %} {{ paper.year }}.{% if paper.status %} <em>{{ paper.status }}.</em>{% endif %}</p>
                <p style="color: #333;">
                    {% for author in paper.author.split(', ') %}{% if 'Fengcheng Yu' in author %}<b>{{author}}</b>{% else %}{{author}}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
                {%- if paper.description %}
                <p style="color: #555; font-size: 14px; margin-top: 0;">{{ paper.description }}</p>
                {% endif -%}
                <p>
                    {%- if paper.project_url %}<a href="{{ paper.project_url }}" style="color: #008CBA;"><i class="fas fa-project-diagram"></i> Project </a>{% endif -%}
                    {%- if paper.paper_url %}<a href="{{ paper.paper_url }}" style="color: #008CBA; text-decoration: none;"><i class="fas fa-file-pdf"></i> Paper </a>{% endif -%}
                    {%- if paper.arxiv_url %}<a href="{{ paper.arxiv_url }}" style="color: #008CBA;"><i class="fas fa-project-diagram"></i> Arxiv </a>{% endif -%}
                </p>
            </td>
        </tr>
        {% endfor -%}
    </table>
    <p style="font-size: 13px; color: #777; margin-top: 0;">* Equal contribution.</p>
</div>
